@font-face {
    font-family: 'Gotham';
    src: url('../font/Gotham-BookItalic.woff2') format('woff2'),
        url('../font/Gotham-BookItalic.woff') format('woff'),
        url('../font/Gotham-BookItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham';
    src: url('../font/Gotham-Book.woff2') format('woff2'),
        url('../font/Gotham-Book.woff') format('woff'),
        url('../font/Gotham-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../font/Gotham-LightItalic.woff2') format('woff2'),
        url('../font/Gotham-LightItalic.woff') format('woff'),
        url('../font/Gotham-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham';
    src: url('../font/Gotham-BoldItalic.woff2') format('woff2'),
        url('../font/Gotham-BoldItalic.woff') format('woff'),
        url('../font/Gotham-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham';
    src: url('../font/Gotham-Bold.woff2') format('woff2'),
        url('../font/Gotham-Bold.woff') format('woff'),
        url('../font/Gotham-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../font/Gotham-Medium.woff2') format('woff2'),
        url('../font/Gotham-Medium.woff') format('woff'),
        url('../font/Gotham-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../font/Gotham-Light.woff2') format('woff2'),
        url('../font/Gotham-Light.woff') format('woff'),
        url('../font/Gotham-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../font/Gotham-MediumItalic.woff2') format('woff2'),
        url('../font/Gotham-MediumItalic.woff') format('woff'),
        url('../font/Gotham-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham';
    src: url('../font/Gotham-Medium_1.woff2') format('woff2'),
        url('../font/Gotham-Medium_1.woff') format('woff'),
        url('../font/Gotham-Medium_1.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../font/Gotham-BookItalic_1.woff2') format('woff2'),
        url('../font/Gotham-BookItalic_1.woff') format('woff'),
        url('../font/Gotham-BookItalic_1.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham';
    src: url('../font/Gotham-Black.woff2') format('woff2'),
        url('../font/Gotham-Black.woff') format('woff'),
        url('../font/Gotham-Black.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../font/Gotham-Light_1.woff2') format('woff2'),
        url('../font/Gotham-Light_1.woff') format('woff'),
        url('../font/Gotham-Light_1.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../font/Gotham-Bold_1.woff2') format('woff2'),
        url('../font/Gotham-Bold_1.woff') format('woff'),
        url('../font/Gotham-Bold_1.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto - Bold Condensed';
    src: url('../font/3956.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
