$bl: #000;
$wh: #fff;
$blue: #11749e;
$lig-blue: #2e85aa;
$grey: #808080;
$dark-grey: #222222;
$lg-bl: #2a2a2a;
$dr-wh: #f5f5f5;
$dr-wh2:#f1fbff;
$dr-wh3: #f2f2f2;
$dr-wh4: #f3f3f3;
$dr-wh5:#f5f5f5;
$letter: #3c8daf;
$letter2: #d7d7d7;


$got: 'Gotham';
$rob: 'Roboto - Bold Condensed';